body {
	overflow:hidden;
	margin:0;
}

text {
	font-family: sans-serif;
	pointer-events: none;
}


.tooltip {
	position: absolute;
	width: 200px;
	pointer-events: none;
	background-color: #eee;
}

#controlers {
	cursor: move;
}

.highlight {
	fill: yellow;
	opacity: 0.25;
}