{% include 'header.html' %}

<div class="container">
	<div class="row">
		<div class="alert alert-info">
			From this page you can explore the biological regulatory roles of each of the LJP network clusters. Up and down gene sets for each perturbation were submitted to enrichment analysis with <a class="alert-link" target="_blank" href="http://amp.pharm.mssm.edu/Enrichr">Enrichr</a>, and the top five terms for each cluster based on average rank, are displayed. Use the controls on the top right to toggle between clusters, libraries and up/down differentially expressed genes.
		</div>
	</div>
	<div class="row">
		<div class="col-sm-8" id="svg_container"></div>
		<div class="col-sm-4 well">
			<div class="row" id="controls"></div>
			<hr>
			<h4>Top enriched terms:</h4>
			<div class="row" id="table"></div>
			<a id="downloadTable" href="data/cluster_enrichment_table.csv" download>
                Download the full enrichment table
            </a>
		</div>
	</div>
</div>
<script src="lib/d3-legend.min.js"></script>
<script src="js/annotation.js"></script>

{% include 'footer.html' %}