<div id="footer">
    <div class="container">
        <div class="row">

            <div class="col-md-3">
                <h4>Affiliations</h4>
                <ul>
                    <li><a href="http://lincs.hms.harvard.edu/" target="_blank">HMS LINCS Center</a></li>
                    <li>
                        <a href="http://hits.harvard.edu/the-program/laboratory-of-systems-pharmacology/about/"
                           target="_blank">
                            Harvard Laboratory of Systems Pharmacology
                        </a>
                    </li>
                    <li><a href="http://www.lincscloud.org/">LINCS Center for Transcriptomics</a></li>
                    <li><a href="http://www.lincsproject.org/" target="_blank">NIH LINCS Program</a></li>
                    <li><a href="http://lincs-dcic.org/" target="_blank">BD2K-LINCS DCIC</a></li>
                </ul>
            </div>

            <div class="col-md-2">
                <!--
                    A little hacky. We use this element to properly vertically align this content.
                    Use visibility since it does not force reflow.
                 -->
                <h4 style="visibility: hidden;">x</h4>
                <ul>
                    <li><a href="http://sorger.med.harvard.edu/" target="_blank">Sorger Lab</a></li>
                    <li>
                        <a href="https://www.broadinstitute.org/scientific-community/science/core-faculty-labs/golub-lab/golub-lab-home"
                           target="_blank">Golub Lab</a></li>
                    <li><a href="http://icahn.mssm.edu/research/labs/maayan-laboratory" target="_blank">Ma'ayan Lab</a>
                    </li>
                    <li><a href="https://sysbiowiki.soe.ucsc.edu/" target="_blank">Josh Stuart Lab</a></li>
                </ul>
            </div>

            <div class="col-md-4">
                <h4>Citation</h4>
                <div class="citation">
                    <span>Niepel M., Hafner M., Duan Q., Wang Z., Paull E. O., Chung M., Lu X., Stuart J. M., Golub T. R., Subramanian A., Ma'ayan A., Sorger P. K. (2017)</span>
                    <strong>Common and cell-type specific responses to anti-cancer drugs revealed by high throughput transcript profiling.</strong>
                    <i>Nature Communications</i>
                    <span>doi: </span>
                    <a href="http://dx.doi.org/10.1038/s41467-017-01383-w" target="_blank">10.1038/s41467-017-01383-w</a>
                </div>
            </div>
            <div class="col-md-3">
                <h4>Share</h4>
                <div class="addthis_sharing_toolbox"></div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5767370fb98ece43"></script>