<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/LJP/"/>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content="Zichen Wang (zichen.wang@mssm.edu)"/>

    <title>LJP Network Enrichment Tool</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,500,400italic,700" rel="stylesheet" type="text/css"/>
    <link href="lib/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="css/main.css" rel="stylesheet" type="text/css"/>
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
    <link rel="icon" href="favicon.png" type="image/x-icon">    

    <script src="lib/d3.v3.min.js"></script>
    <script src="lib/jquery.min.js"></script>
    <script src="lib/jquery-ui.js"></script>
    <script src="lib/underscore-min.js"></script>
    <script src="lib/bootstrap.min.js"></script>

    <script src="js/config.js"></script>
    <script src="js/main.js"></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-JXBJ8Q3DW5"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { window.dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-JXBJ8Q3DW5');
    </script>
</head>
<body>
<nav class="navbar">
    <div class="container">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='#collapse'>
                <span class='sr-only'>Toogle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
        </div>

        <h1 class="pull-left">
            <p id="title">
                <a href="">
                    <span class='navbar-title'><img src="favicon.png" width="35px" height="35px">
                    LINCS Joint Project (LJP)</span>
                </a>
            </p>
            <p id="subtitle">Breast Cancer Network Browser (BCNB)</p>
        </h1>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse pull-right" id="collapse">
            <ul class="nav navbar-nav">
                <li id="view"><a href="">Network View</a></li>
                <li id="search"><a href="search">Submit Your Own Signature</a></li>
                <li id="annotation"><a href="annotation">Cluster Annotation</a></li>
                <li id="drugs"><a href="drugs">Drug Annotation</a></li>
            </ul>
        </div>
    </div>
</nav>