{% include 'header.html' %}

<div class="container">
    {% if description %}
        <div class="alert alert-info">
            {{ description|safe }}
        </div>
    {% endif %}
    <div id="page">
        <div id="visualization">
            <div id="svg_container"></div>
            <div id="controls"></div>
        </div>
    </div>
</div>

<script src="lib/d3-legend.min.js"></script>
<script src="lib/selectize.min.js"></script>
<link rel="stylesheet" type="text/css" href="lib/selectize.bootstrap3.css">
<script src="js/{{ script }}.js"></script>
<script>
    render_graph({{ graph|safe }});
</script>

{% include 'footer.html' %}